{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Cadastrar Espaço</title>
{% endblock %}



{% block 'titulo' %}
	Cadastro de espaços
{% endblock %}


{% block 'conteudo' %}

{% if status == '0'%}
    <div class="alert alert-success" role="alert">
        <p>Quadra cadastrada com sucesso!</p> 
    </div>
{% endif %}

{% if status == '1'%}
    <div class="alert alert-danger" role="alert">
        <p>Quadra não cadastrada!</p>
        <span>
            Preencha todos os campos.
        </span> 
    </div>
{% endif %}


<form method="post" action= "{% url 'validaCadastrarEspaco' %}"> 
		{% csrf_token %}
		<input 
	         	type="text" 
	            name="tipo"
	            autocomplete="off"
	            placeholder="Tipo da quadra" 
	            required>
	    <br>
	    <input 
	         	type="number" 
	            name="valor"
	            step = "0.10"
	            min = "0.10"
	            value = "100.00"
	            required>

	    <br>

		<div class="botoes">
			<button type = "submit" class="botaoSubmit">Cadastrar</button>
			<a href="{% url 'home' %}" class="botaoSubmit botao">Voltar</a>
		</div>
</form>

{% endblock %}