{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Cadastrar Pagamento</title>
{% endblock %}


{% block 'titulo' %}
	Cadastro de Pagamento
{% endblock %}

{% block 'conteudo' %}

{% if status == '0'%}
    <div class="alert alert-success" role="alert">
        <p>Item cadastrado com sucesso!</p> 
    </div>
{% endif %}

{% if status == '1'%}
    <div class="alert alert-danger" role="alert">
        <p>Erro ao tentar cadastrar!</p> 
    </div>
{% endif %}

<form method="post" action= "{% url 'validaCadastrarPagamento' %}"> 
		{% csrf_token %}

		<label for="Forma"> Forma de Pagamento: </label>
		<select name="forma" id="forma">
	    	{% for forma in formas %}
  				<option value="{{forma}}"> {{forma}} </option>
  			{% endfor %} 
		</select>
	    <br>
	    <label for="data"> Data: </label>
	    <input 
                    type="datetime-local" 
                    id="data" 
                    name="data" 
                    required >

        <label for="valor"> Valor: </label>
	    <input 
                    type="number" 
                    id="valor" 
                    name="valor" 
                    required >

	    <label for="Reserva"> Reserva: </label>
	    <select name="reserva" id="Reserva">
	    	{% for reserva in reservas %}
  				<option value="{{reserva.id}}">{{reserva.id}} - {{reserva.cliente.nome}} - {{reserva.quadra.tipo}} </option>
  			{% endfor %} 
		</select>
		<br>
		
	    
	    <div class="botoes">
			<button type = "submit" class="botaoSubmit">Pagar</button>
			<a href="{% url 'home' %}" class="botaoSubmit botao">Voltar</a>
		</div>
</form>

{% endblock %}