{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Cadastrar Cliente</title>
{% endblock %}

{% block 'conteudo' %}

	{% if status == '0'%}
        <div class="alerta certo">
            <p>Cadastro realizado com sucesso!</p> 
        </div>
    {% endif %}

    {% if status == '1'%}
        <div class="alerta errado">
            <p>*Preencha todos os campos!</p> 
        </div>
    {% endif %}
    
<h1>Cliente</h1>
<form method="post" action= "{% url 'validaCadastrarCliente' %}"> 
		{% csrf_token %}
	    <input 
	         	type="text" 
	            name="nome"
	            autocomplete="off"
	            placeholder="Nome do Cliente" 
	            required>
	    <br>
	    <input 
	         	type="text" 
	            name="telefone"
	            autocomplete="off"
	            placeholder="Telefone" 
	            required>
	    <br>
	    <input 

	    		type="text" 
	            name = "estado"
	            autocomplete="off"
	            placeholder="Estado" 
	            required>
	    <br>

	    <input 

	            type="text" 
	            name = "cidade"
	           	autocomplete="off"
	            placeholder="Cidade" 
	            required>
	    <br>
	    <input 

	            type="text" 
	            name = "bairro"
	            autocomplete="off"
	            placeholder="Bairro" 
	            required>

	    <br>
	    <input 

	            type="text" 
	            name = "rua"
	            autocomplete="off"
	            placeholder="Rua" 
	            required>

	    <br>

	    <input 

	            type="text" 
	            name = "numero"
	            autocomplete="off"
	            placeholder="Numero da casa" 
	            required>
	    <br>
	    <input 

	            type="text" 
	            name = "complemento"
	            autocomplete="off"
	            placeholder="Complemento" 
	            required>
	    <br>
	    <input 

	            type="text" 
	            name = "cpf"
	            autocomplete="off"
	            placeholder="CPF" 
	            required>
	    <br>
	    <input 

	            type="email" 
	            name = "email"
	            autocomplete="off"
	            placeholder="Email do Usuário" 
	            required>
	    <br>

	    <button type = "submit">Cadastrar</button>
	    <a href="{% url 'home' %}" class ="btn btn-warning btn-lg">Voltar</a>
</form>

{% endblock %}