{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Cadastrar Espaço</title>
{% endblock %}

{% block 'conteudo' %}

	{% if status == '0'%}
        <div class="alerta certo">
            <p>Cadastro realizado com sucesso!</p> 
        </div>
    {% endif %}

    {% if status == '1'%}
        <div class="alerta errado">
            <p>*Preencha todos os campos!</p> 
        </div>
    {% endif %}

<h1>Espaço</h1>
<form method="post" action= "{% url 'validaCadastrarEspaco' %}"> 
		{% csrf_token %}
		<input 
	         	type="text" 
	            name="tipo"
	            autocomplete="off"
	            placeholder="Tipo da quadra" 
	            required>
	    <br>
	    <input 
	         	type="number" 
	            name="valor"
	            step = "0.10"
	            min = "0.10"
	            value = "100.00"
	            required>

	    <br>

	    <button type = "submit">Cadastrar</button>
</form>

{% endblock %}