{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Detalhes do Cliente</title>
{% endblock %}

{% block 'titulo' %}
    Detalhes do Cliente
{% endblock %}

{% block 'conteudo' %}
    <div class="detalhes">
        
        <div class="detalhe">
            <p><b>Nome:</b></p>
            <p>{{ cliente.nome }}</p> 
        </div>
        
        <div class="detalhe">
            <p><b>Telefone:</b></p>
            <p>{{ cliente.telefone }}</p>
        </div>

        <div class="detalhe">
            <p><b>Estado:</b></p>
            <p>{{ endereco.estado }}</p>
        </div>

        <div class="detalhe">
            <p><b>Cidade:</b></p>
            <p>{{ endereco.cidade }}</p>
        </div>

        <div class="detalhe">
            <p><b>Bairro:</b></p>
            <p>{{ endereco.bairro }}</p>
        </div>
        <div class="detalhe">
            <p><b>Rua:</b></p>
            <p>{{ endereco.rua }}</p>
        </div>
        <div class="detalhe">
            <p><b>Número:</b></p>
            <p>{{ endereco.numero }}</p>
        </div>
        <div class="detalhe">
            <p><b>Complemento:</b></p>
            <p>{{ endereco.complemento }}</p>
        </div>
        <div class="detalhe">
            <p><b>CPF:</b></p>
            <p>{{ cliente.cpf }}</p>
        </div>
        <div class="detalhe">
            <p><b>Email:</b></p>
            <p>{{ cliente.email }}</p>
        </div>
        
        <div class="botoes">
            <a type="submit" href="{% url 'excluirCliente' cliente.id %}" class="botao">Excluir</a>
            <a href="{% url 'editarCliente' cliente.id %}" class="botao">Editar</a>
            <a href="{% url 'home' %}" class="botao">Home</a>
        </div>

    </div>

{% endblock %}