{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Editar Espaco</title>
{% endblock %}

{% block 'titulo' %}
    Editar Espaço
{% endblock %}
{% block 'conteudo' %}

    <div>
        <form method="post" action="{% url 'validaEditarEspaco' quadra.id %}">
            {% csrf_token %}
            <label for ="tipo">Tipo:</label>

            <input type="text" 
            name="tipo" 
            value="{{ quadra.tipo }}">
            <br>

            <label for ="tipo">Valor:</label>
            <input type="number" 
            name="preco" 
            value="{{ quadra.preco }}">
            <br>

            <div class="botoes">
                <button type="submit">Salvar</button>
                <a href="{% url 'verEspaco' %}"><button type="button">Cancelar</button></a>
                <a href="{% url 'home' %}" class="botao">Home</a>
            </div>
        </form>
    </div>
{% endblock %}