{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}

{% block head %}
<title>Editar Reserva</title>
{% endblock %}

{% block 'titulo' %}
    Editar Reserva
{% endblock %}

{% block 'conteudo' %}
    <div>
        <form method="post" action="{% url 'validaEditarReserva' reserva.id %}">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Nome do Cliente</th>
                    <td>{{ reserva.cliente.nome }}</td>
                </tr>
                <tr>  
                    <th>Valor</th>
                    <td>
                        <input type="number" 
                        name="valor" 
                        value="{{ reserva.valor|floatformat:2|replace:',.' }}"></td>
                </tr>
                <tr>
                    <th>Tipo de Quadra</th>
                    <td>
                        <select name="tipo_quadra">
                            {% for quadra in quadras %}
                                <option value="{{ quadra.id }}" {% if quadra.id == reserva.quadra.id %}selected{% endif %}>
                                    {{ quadra.tipo }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Horário de Entrada</th>
                    <td>
                        <input type="datetime-local" 
                        name="horaEntrada" 
                        value="{{ reserva.horaEntrada|formatarDataInput }}"
                        >
                    </td>
                </tr>
                <tr>
                    <th>Horas Reservadas</th>
                    <td>
                        <input type="number" 
                        name="horasReservada" 
                        value="{{ reserva.horasReservada }}"></td>
                </tr>
            </table>

            <div class="botoes">

                
                <button type="submit">Salvar</button>
                <a href="{% url 'verReservas' %}"><button type="button">Cancelar</button></a>
            </div>
        </form>
    </div>
 
                    
{% endblock %}
