{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Detalhes da Quadra</title>
{% endblock %}

{% block 'conteudo' %}
    <div>
        <h2>Detalhes da Quadra</h2>
        <table>
            <tr>
                <th>Tipo</th>
                <td>{{ quadra.tipo }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ quadra.preco }}</td>
            </tr>
            <tr>
                <th>Reservado</th>
                <td>{{ quadra.reservado|yesno:"Sim,Não" }}</td>
            </tr>
        </table>
        <form action="{% url 'excluirEspaco' quadra.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este espaço?');">Excluir</button>
        </form>

        <form action="{% url 'editarEspaco' quadra.id %}" method="get" style="display:inline;">
            <button type="submit">Editar</button>
        </form>
    </div>
{% endblock %}