{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Detalhes da Quadra</title>
{% endblock %}

{% block 'titulo' %}
    Detalhes da Quadra
{% endblock %}

{% block 'conteudo' %}

    <div class="detalhes">
        
        <div class="detalhe">
            <p><b>Tipo de quadra:</b></p>
            <p>{{ quadra.tipo }}</p> 
        </div>
        
        <div class="detalhe">
            <p><b>Valor:</b></p>
            <p>{{ quadra.preco|floatformat:2 }}</p>
        </div>

        <div class="botoes">
            <a type="submit" href="{% url 'excluirEspaco' quadra.id %}" class="botao">Excluir</a>
            <a href="{% url 'editarEspaco' quadra.id %}" class="botao">Editar</a>
            <a href="{% url 'home' %}" class="botao">Home</a>
        </div>

    </div>

{% endblock %}