{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
	<title>Home</title>
{% endblock %}


{% block 'titulo' %}
	Bem vindo, {{ funcionario.nome }}
{% endblock %}


{% block 'conteudo' %}

<div class="menu">

	<a href="/arena/cadastrarEspaco">
		Cadastrar Espaço
	</a>

	<a href="/arena/verEspaco">
		Visualizar Espaço
	</a>

	<a href="/arena/cadastrarCliente">
		Cadastrar Cliente
	</a>

	<a href="/arena/verCliente">
		Visualizar Cliente
	</a>

	<a href="/arena/cadastrarReserva">
		Cadastrar Reserva
	</a>

	<a href="/arena/verReservas">
		Visualizar Reservas
	</a>

	<a href="/arena/cadastrarPagamento">
		Realizar Pagamento
	</a>

	<a href="/arena/verPagamentos">
		Visualizar Pagamento
	</a>

	<a href="/arena/sair">
		Sair
	</a>


</div>
{% endblock %}