{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Reserva</title>
{% endblock %}

{% block 'conteudo' %}

     <div>
        <h2>Detalhes da Reserva</h2>
        <table>
            <tr>
                <th>Nome do Cliente</th>
                <td>{{ reserva.cliente.nome }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ reserva.valor }}</td>
            </tr>
            <tr>
                <th>Tipo de Quadra</th>
                <td>{{ reserva.quadra.tipo }}</td>
            </tr>
            <tr>
                <th>Horário de Entrada</th>
                <td>{{ reserva.horaEntrada }}</td>
            </tr>
            <tr>
                <th>Quantidade de horas reservadas</th>
                <td>{{ reserva.horasReservada }}</td>
            </tr>
        </table>
        <form action="{% url 'excluirReserva' reserva.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir esta reserva?');">Excluir</button>
        </form>

        <form action="{% url 'editarReserva' reserva.id %}" method="get" style="display:inline;">
            <button type="submit">Editar</button>
        </form>
    </div>


{% endblock %}