{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Reserva</title>
{% endblock %}


{% block 'titulo' %}
    Detalhes da Reserva
{% endblock %}

{% block 'conteudo' %}

    <div class="detalhes">
        
        <div class="detalhe">
            <p><b>Nome do Cliente:</b></p>
            <p>{{ reserva.cliente.nome }}</p> 
        </div>
        
        <div class="detalhe">
            <p><b>Valor:</b></p>
            <p>{{ reserva.valor|floatformat:2 }}</p>
        </div>

        <div class="detalhe">
            <p><b>Tipo de Quadra:</b></p>
            <p>{{ reserva.quadra.tipo }}</p>
        </div>

        <div class="detalhe">
            <p><b>Horário de Entrada:</b></p>
            <p>{{ reserva.horaEntrada }}</p>
        </div>

        <div class="detalhe">
            <p><b>Quantidade de horas reservadas:</b></p>
            <p>{{ reserva.horasReservada }}</p>
        </div>

        <div class="botoes">
            <a type="submit" href="{% url 'excluirReserva' reserva.id %}" class="botao">Excluir</a>
            <a href="{% url 'editarReserva' reserva.id %}" class="botao">Editar</a>
            <a href="{% url 'home' %}" class="botao">Home</a>
        </div>

    </div>

{% endblock %}