{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Visualizar Clientes</title>
{% endblock %}

{% block 'conteudo' %}

<table>
    <thead>
        <tr>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>
                {% if cliente.id %}
                    <a href="{% url 'cliente' cliente.id %}">
                        {{ cliente.nome }}
                    </a>
                {% else %}
                    {{ cliente.nome }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div class="botoes">
            <a href="{% url 'home' %}" class="botaoSubmit botao">Voltar</a>
</div>
<h2>Quantidade de clientes cadastrados: {{qnt}} </h2>

{% endblock %}