{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Visualizar Espaço</title>
{% endblock %}

{% block 'titulo' %}
    Espaços Cadastrados
{% endblock %}
{% block 'conteudo' %}

{% if status == '0'%}
    <div class="alert alert-success" role="alert">
        <p>Quadra cadastrada com sucesso!</p> 
    </div>
{% endif %}

{% if status == '1'%}
    <div class="alert alert-danger" role="alert">
        <p>Quadra não cadastrada!</p>
        <span>
            Preencha todos os campos.
        </span> 
    </div>
{% endif %}



<p>Quantidade de Espaço cadastrados: <b>{{qnt}}</b> </p>

<div class="botoes">
            <a href="{% url 'home' %}" class="botaoSubmit botao">Voltar</a>
</div>

<table>
    <thead>
        <tr>
            <th>Nome da Quadra</th>
        </tr>
    </thead>
    <tbody>
        {% for quadra in quadras %}
        <tr>
            <td>
                {% if quadra.id %}
                    <a href="{% url 'espaco' quadra.id %}">
                        {{ quadra.tipo }}
                    </a>
                {% else %}
                    {{ quadra.tipo }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>





{% endblock %}