{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Visualizar Espaço</title>
{% endblock %}

{% block 'conteudo' %}



<h1>Espaços Cadastrados</h1>


<table>
    <thead>
        <tr>
            <th>Nome da Quadra</th>
        </tr>
    </thead>
    <tbody>
        {% for quadra in quadras %}
        <tr>
            <td>
                {% if quadra.id %}
                    <a href="{% url 'espaco' quadra.id %}">
                        {{ quadra.tipo }}
                    </a>
                {% else %}
                    {{ quadra.tipo }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<a href="/arena/cadastrarEspaco">
    Cadastrar Espaço
</a>


<br>
<h2>Quantidade de quadras cadastradas: {{qnt}} </h2>

{% endblock %}