{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Visualizar Pagamentos</title>
{% endblock %}

{% block 'titulo' %}
    Visualizar Pagamentos
{% endblock %}

{% block 'conteudo' %}

<table>
    <thead>
        <tr>
            <th>Cliente</th>
        </tr>
    </thead>
    <tbody>
        {% for pagamento in pagamentos %}
        <tr>
            <td>{{ pagamento.reserva.cliente }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<br>
<div class="botoes">
            <a href="{% url 'home' %}" class="botaoSubmit botao">Voltar</a>
</div>

<h2>Quantidade de pagamentos cadastradas: {{qnt}} </h2>



{% endblock %}