{% extends 'base.html' %}

{% load static %}



{% load custom_filters %}

{% block 'head' %}<title>Visualizar Pagamentos</title>{% endblock %}

{% block 'titulo' %}
    Pagamentos Cadastrados
{% endblock %}

{% block 'conteudo' %},

{% if status == '0'%}
    <div class="alert alert-success" role="alert">
        <p>Pagamento realizado com sucesso!</p> 
    </div>
{% endif %}


<p>Quantidade de pagamentos cadastrados: <b>{{qnt}}</b> </p>
    <a href="{% url 'home' %}" class="botaoSubmit botao">Voltar</a>
</div>


<div class="listagem">
    {% for pagamento in pagamentos %}
        <div class="item">
            <a href="{% url 'pagamento' pagamento.id %}">
                <p><b>{{ pagamento.reserva.cliente }}</b></p>
            </a>
        </div>
    {% endfor %}
</div>


{% endblock %}