{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Visualizar Pagamentos</title>
{% endblock %}

{% block 'conteudo' %}
<h1>Pagamentos Cadastradas</h1>
<table>
    <thead>
        <tr>
            <th>Cliente</th>
        </tr>
    </thead>
    <tbody>
        {% for pagamento in pagamentos %}
        <tr>
            <td>{{ pagamento.reserva.cliente }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>
<a href="/arena/cadastrarPagamento">
	Cadastrar Pagamento
</a>
<br>
<h2>Quantidade de pagamentos cadastradas: {{qnt}} </h2>

{% endblock %}