{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<title>Visualizar Reservas</title>
{% endblock %}


{% block 'titulo' %}
    Reservas Cadastradas
{% endblock %}

{% block 'conteudo' %}

<div class="listagem">
    {% for reserva in reservas %}
        <div class="item">
            <a href="{% url 'reserva' reserva.id %}">
                <p><b>{{ reserva.cliente }}</b></p>
                <p>{{ reserva.horaEntrada }}</p>
                <p>{{ reserva.horasReservada }}hrs</p>
                <p>{{ reserva.valor }}</p>
            </a>
        </div>
    {% endfor %}
</div>



<!-- <a href="/arena/cadastrarReserva">
    Cadastrar Reserva
</a> -->
<br>
<h2>Quantidade de reservas cadastradas: {{qnt}} </h2>

{% endblock %}